
<div class="control-section" *ngIf="admit">
    <div align='center'>
        <ejs-chart style='display:block' align='center' id='chartcontaineradmit' [title]='title'
            [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxisadmit' [tooltip]='tooltip' (load)='loadadmit($event)'
            [chartArea]='chartArea' [width]='width' [height]='height'>
            <e-series-collection>
                <e-series [dataSource]='admit' type='Line' xName='date' yName='newAdmit' width=2 [marker]='marker'>
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
</div>
