<!-- <div class="control-section">
  <div align='center'>
      <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='chartcontainer' [primaryXAxis]='primaryXAxis'
          [primaryYAxis]='primaryYAxis' [title]='title' [tooltip]='tooltip' (load)='load($event)' (resized)='resized($event)' [legendSettings]='legendSettings'>
          <e-series-collection>
            <e-series [dataSource]='death' type='Histogram' xName='date' yName='newDeath' width=2 [marker]='marker' showNormalDistribution='showNormalDistribution'
           > </e-series>
          </e-series-collection>
      </ejs-chart>
  </div>
  <div style="float: right; margin-right: 10px; margin-top: -5px">Source:
      <a href="https://www.gov.uk/" target='_blank'>www.gov.uk</a>
  </div>
</div>
<style>
  .control-section {
      min-height: 450px;
  }
</style> -->


<div class="control-section" *ngIf="death.length > 0">
  <div align='center'>
    <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='chartcontainerdeath'
      [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [title]='titleDeath' [tooltip]='tooltip'
      (load)='load($event)'>
      <e-series-collection>
        <e-series [dataSource]='death' type='Column' xName='date' yName='newCases' width=2 [marker]='marker'>
        </e-series>

      </e-series-collection>
    </ejs-chart>
  </div>
</div>
<div class="control-section" *ngIf="cases.length > 0">
  <div align='center'>
    <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='chartcontainercases'
      [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [title]='titleCases' [tooltip]='tooltip'
      (load)='load($event)'>
      <e-series-collection>
        <e-series [dataSource]='cases' type='Column' xName='date' yName='newCases' width=2 [marker]='marker'>
        </e-series>

      </e-series-collection>
    </ejs-chart>
  </div>
</div>
<div class="control-section" *ngIf="admit.length > 0">
  <div align='center'>
    <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='chartcontaineradmit'
      [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [title]='titleAdmit' [tooltip]='tooltip'
      (load)='load($event)'>
      <e-series-collection>
        <e-series [dataSource]='admit' type='Column' xName='date' yName='newAdmit' width=2 [marker]='marker'>
        </e-series>

      </e-series-collection>
    </ejs-chart>
  </div>
</div>
<div class="control-section" *ngIf="test.length > 0">
  <div align='center'>
    <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='chartcontainertest'
      [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxisTest' [title]='titleTest' [tooltip]='tooltip'
      (load)='load($event)'>
      <e-series-collection>
        <e-series [dataSource]='test' type='Column' xName='date' yName='newTest' width=2 [marker]='marker'>
        </e-series>

      </e-series-collection>
    </ejs-chart>
  </div>
</div>
<style>
  .control-section {
    min-height: 450px;
  }
</style>